/* 
-- SYSTEM

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px 

- Colors
Font color: #1d2327
Main color: #b197fc
Main color tint: #d0bfff
Main color shade: #9775fa
Background color: #f8f9fa
*/

.admin-cg-wrap {
  font-size: 10px;
  line-height: 1;
  font-weight: 400;
}

.admin-cg-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.2em;
  color: #1d2327;
}

.admin-cg-main h1 {
  font-size: 2.4em;
  font-weight: 400;
  margin-bottom: 0;
}

.admin-cg-form {
  display: flex;
  flex-direction: column;
}

.admin-cg-form-field {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.admin-cg-form-field label {
  font-size: 1.4em;
  margin-bottom: 0.8em;
}

.admin-cg-form-field input {
  font-size: 1.4em;
}

.admin-cg-form-field a {
  font-size: 1.2em;
  margin-top: 0.8em;
}

.admin-cg-wrapper footer {
  font-size: 1.2em;
  color: #1d2327;
  text-align: center;
}

.sm-form-field {
  max-width: 11em;
}

.m-form-field {
  max-width: 14em;
}

.m-form-field {
  max-width: 20em;
}
