/* 
-- SYSTEM

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px 

- Colors
Font color: #1d2327
Main color: #b197fc
Main color tint: #d0bfff
Main color shade: #9775fa
Background color: #f8f9fa
*/

img {
  fill: red;
}

.wp-menu-image svg {
  fill: red;
}

.admin-cg-wrap {
  font-size: 10px;
  line-height: 1;
  font-weight: 400;
}

.admin-cg-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.2em;
  color: #1d2327;
}

.admin-cg-main h1 {
  font-size: 2.4em;
  font-weight: 400;
  margin-bottom: 0;
}

.admin-cg-form {
  display: flex;
  flex-direction: column;
}

.admin-cg-form-field {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.admin-cg-form-checkbox {
  display: flex;
  align-items: center;
  margin-top: 1.6em;
}

.admin-cg-form-checkbox label {
  font-size: 1.4em;
  margin-right: 0.8em;
  padding: 0.6em 0;
}

.admin-cg-form-field label {
  font-size: 1.4em;
  margin-bottom: 0.8em;
}
.admin-cg-form-checkbox-option input,
.admin-cg-form-checkbox input,
.admin-cg-form-field input {
  font-size: 1.4em;
}

.admin-cg-form-checkbox-option {
  display: grid;
  grid-template-columns: 12em minmax(12em, 24em);
  grid-template-rows: 1.6em 1fr;
  gap: 0.6em;
  justify-items: start;
  align-items: start;
  margin-top: 1.6em;
}

.admin-cg-form-checkbox-option label {
  grid-area: 1/1/2/2;
  font-size: 1.4em;
}

.admin-cg-form-checkbox-option input {
  grid-area: 1/2/2/3;
}

.admin-cg-form-checkbox-option p {
  font-size: 1.2em;
  grid-area: 2/2/3/3;
  margin: 0;
}

.admin-cg-form-field a {
  font-size: 1.2em;
  margin-top: 0.8em;
}

.admin-cg-wrapper footer {
  font-size: 1.2em;
  color: #1d2327;
  text-align: center;
}

.admin-cg-fieldset {
  margin-top: 1.4em;
  background-color: #fff;
  border-radius: 0.6em;
  border: 0.05em solid #aaa;
  box-shadow: 0em 0.2em 0.6em #aaa;
  padding: 1.6em;
}

.admin-cg-fieldset h3 {
  font-size: 1.8em;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1.8em;
}

.admin-cg-fieldset div {
  padding-top: 1.6em;
}

.admin-cg-fieldset a {
  display: inline-block;
  margin-top: 1.8em;
  font-size: 1.2em;
}

.sm-form-field {
  max-width: 15em;
}

.m-form-field {
  max-width: 22em;
}

.l-form-field {
  max-width: 26em;
}

.admin-cg-no-found-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4.8em;
}

.admin-cg-no-found-wrap p {
  font-size: 1.4em;
  color: #1d2327;
}

.group-name-order-page {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  color: #888;
  padding: 0.4em 0.8em;
  cursor: pointer;
  background-color: #fff;
  border: 0.1em solid #aaa;
  border-radius: 0.4em;
  box-shadow: 0em 0.2em 0.4em #aaa;
}

.group-name-order-page:hover {
  color: #1d2327;
  border-color: #1d2327;
  cursor: pointer;
}
